In [13]:
import pandas as pd
import datetime as dt
import numpy as np
from arch import arch_model
import statsmodels.api as sm

In [27]:
df = pd.read_csv("NSEI.csv")
df["Date"] = pd.to_datetime(df["Date"])
df = df.set_index('Date')
df['Daily_Return'] = (df['Close'].pct_change() * 100).fillna(0)
df.head()

,Open,High,Low,Close,Adj Close,Volume,Daily_Return
Date,,,,,,,
2007-09-17,4518.450195,4549.049805,4482.850098,4494.649902,4494.649902,0.0,0.000000
2007-09-18,4494.100098,4551.799805,4481.549805,4546.200195,4546.200195,0.0,1.146926
2007-09-19,4550.250000,4739.000000,4550.250000,4732.350098,4732.350098,0.0,4.094626
2007-09-20,4734.850098,4760.850098,4721.149902,4747.549805,4747.549805,0.0,0.321187
2007-09-21,4752.950195,4855.700195,4733.700195,4837.549805,4837.549805,0.0,1.895715

In [24]:
# Pandas is a library with lot of classes
# How to take rolling
# how to slice index manually
for i in range(0, len(df.index), 1000):
    print(i)

0
1000
2000
3000

In [28]:
df.index

DatetimeIndex(['2007-09-17', '2007-09-18', '2007-09-19', '2007-09-20',
               '2007-09-21', '2007-09-24', '2007-09-25', '2007-09-26',
               '2007-09-27', '2007-09-28',
               ...
               '2023-10-23', '2023-10-25', '2023-10-26', '2023-10-27',
               '2023-10-30', '2023-10-31', '2023-11-01', '2023-11-02',
               '2023-11-03', '2023-11-06'],
              dtype='datetime64[ns]', name='Date', length=3986, freq=None)

In [ ]:
import pandas_datareader.data as web